<!-- Auth Modal -->
<div
  class="fixed z-50 inset-0 overflow-y-auto"
  id="modal"
  [ngClass]="{ hidden: !modal.isModalOpen(modalID) }"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!-- Modal BG Overlay -->
    <div class="fixed inset-0 transition-opacity" (click)="closeModal()">
      <div class="absolute inset-0 bg-gray-800 opacity-75"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
      >&#8203;</span
    >

    <div
      class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-4">
          <!-- heading slot -->
          <ng-content select="[heading]"></ng-content>
          <!-- Modal Close Button -->
          <div (click)="closeModal()" class="modal-close cursor-pointer z-50">
            &#x2715;
          </div>
        </div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
